*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index .container-left {
    width: 50%;
    padding: 16px;
    border-radius: 20px;
    margin: 20px
}

/* ---------------------------------------Botão--------------------------------------------------- */
.store-front-container {
    position: relative; /* Definir posição relativa para o contêiner da imagem */
    text-align: center; /* Centralizar conteúdo interno (botão) horizontalmente */
}

.store-front-container img {
    width: 70%; /* Ajustar a largura da imagem para o tamanho do contêiner */
    height: auto; /* Manter a proporção da imagem */
    display: block; /* Evitar margens indesejadas ao redor da imagem */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
}

.btn-container {
    margin-top: 100px; /* Espaço entre a imagem e o botão */
    text-align: center; /* Centralizar o botão */
}


.btn {
    display: inline-block; /* Definir o botão como bloco em linha */
    padding: 25px 50px; /* Espaçamento interno do botão */
    font-size: 25px;
    background-color: rgb(232, 100, 18); /* Cor de fundo do botão */
    border-radius: 20px;
    color: white; /* Cor do texto do botão */
    border: none; /* Remover borda padrão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}
.btn:hover {
    background-color: #ff2802;
}

.Janela_modal {
    width: 100vw; /* Largura total da janela */
    height: 100vh; /* Altura total da janela */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #05050588;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

/* Configuração dentro da janela modal */
.modal {
    /* width: 100%; */
        max-width: 450px;
    /* min-height: 50px; */
    background-color: #ffffff97;
    backdrop-filter: blur(10px);
    padding: 30px; /* Distância do conteúdo da borda */
    border-radius: 20px; /* Arredondamento das quinas da janela */
}

.modal h3 {
    text-align: center;
    margin: 20px;
    font-size: 25px;
}

/* Botão fechar modal */
.fechar {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
}

.Janela_modal.abrir {
    display: flex;
}



/* -------Formatação da tabela------ */
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

/* Desabilita ajuste manual do tamanho da caixa de texto */
form textarea {
    resize: none;
    height: 180px; /* Aumenta a caixa de texto Sua mensagem */
}

section h3 {
    margin-bottom: 16px; /* Corrigido o uso de 'margin-bottom' ao invés de 'margin: button' */
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none; /* Remove as bordas pretas do botão Enviar */
    cursor: pointer;
}

/* Efeito hover para o botão */
form button:hover {
    background-color: #3c6ca7;
}

/* Foco nos inputs */
input:focus, textarea:focus {
    outline-color: #182c61;
}


