*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#index .container-left {
    width: 50%;
    padding: 16px;
    border-radius: 20px;
    margin: 20px
}

/* ---------------------------------------Botão--------------------------------------------------- */
.store-front-container {
    /*position: relative; /* Definir posição relativa para o contêiner da imagem */
    text-align: center; /* Centralizar conteúdo interno (botão) horizontalmente */
}

.store-front-container img {
    width: 80%; /* Ajustar a largura da imagem para o tamanho do contêiner */
    height: auto; /* Manter a proporção da imagem */
    display: block; /* Evitar margens indesejadas ao redor da imagem */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
    min-width: 270px;
}


.btn-container {
    margin-top: 100px; /* Espaço entre a imagem e o botão */
    text-align: center; /* Centralizar o botão */
    max-width: 1280;
}


.btn {
    display: inline-block; /* Definir o botão como bloco em linha */
    padding: 25px 50px; /* Espaçamento interno do botão */
    font-size: 25px;
    background-color: rgb(232, 100, 18); /* Cor de fundo do botão */
    border-radius: 20px;
    color: white; /* Cor do texto do botão */
    border: none; /* Remover borda padrão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Efeito de transição ao passar o mouse */
}
.btn:hover {
    background-color: #ff2802;
}

/* .Janela_modal {
    width: 100vw;
    height: 100vh; 
    position: absolute;
    top: 0;
    left: 0;
    background-color: #05050588;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
} */




