*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projetos {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;  
}

.projetos h1 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0auto;
}


.card {
    position: relative;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    /* transform: perspective(750px) translate3d(0px, 0px, -250px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(1.2, 1.2); */
    transform: rotateX(27deg);
    border-radius: 20px;
    border: 3px solid #00e1ff;
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
    margin: 8px;
}


.card.flipped {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.6); /* Centraliza e aumenta o card */
    width: 50vw;
    height: 50vh;
    z-index: 999;
    box-shadow: 0 50px 80px -20px rgba(32, 195, 187, 0.5);
}



/* ------------- */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    -webkit-transform: rotateY(180deg); /* Garantir que o Chrome execute corretamente */
    transform: rotateY(180deg) /*scale(1.2); Aumenta 10% quando vira */
    
}

@media (min-width: 1920px){

    .card.flipped {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.0); /* Centraliza e aumenta o card */
        width: 40vw;
        height: 70vh;
        z-index: 999;
        box-shadow: 0 50px 80px -20px rgba(32, 195, 187, 0.5);
        font-size: 25px;
        
    }
    
    .card-back-1 h3, a {
        font-size: 28px;
        margin: 50px;
    }

    .card-back-1 p {
    text-align: justify;
    text-decoration: none;
    margin: 50px;
    font-size: 22px;
    
    }

    }
@media (min-width: 1360px){

    .card.flipped {
        transform: translate(-50%, -50%) scale(1.6, 1.3); /* Centraliza e aumenta o card */
        width: 40vw;
        height: 70vh;
        z-index: 999;
        box-shadow: 0 50px 80px -20px rgba(32, 195, 187, 0.5);
        font-size: 15px;
        color: tomato;
    }
    }

    



.card-back-1 p {
    text-align: justify;
    text-decoration: none;
    margin: 50px;
    font-size: 25;
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}

.card-front {
    background: linear-gradient(to right, #034623, #316738);
}

.card-back {
    background: linear-gradient(to right, #034623, #316738);
    transform: rotateY(180deg); /* Gira a parte de trás 180 graus */
}

/* .card-front img {
    width: 200px;
    margin-top: 18px;
} */

/*Manda a imagem para traz*/
/* .card-back {
    background: linear-gradient(to right, #034623, #316738);
    color: #0d0606;
    box-shadow: 0 5px 50px #3498db;
    transform: rotateY(180deg);
} */

/* ----------- */
.card-front-1,
.card-back-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    
}


.card-back-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    
}

.card-front-1 {
    background: linear-gradient(to right, #034623, #316738);
}

/* .card-front-1 img {
    width: 200px;
    margin-top: 18px;
} */

.card-back-1 {
    background: linear-gradient(to right, #034623, #316738);
    color: #070404;
    /* box-shadow: 0 5px 20px #03dffc; */
    transform: rotateY(180deg);
}

.fechar {
    position: absolute;
    top: 5px;
    right: 8px;
    width: -20px;
    border-radius: 50%;
    box-shadow: 0 5px 50px #03dffc;
    border: 0;
    background-color: rgba(23, 131, 93, 0);
    color: #03dffc;
    font-size: 20px;
}

/*tamanho a imagem*/
/* .card-back img {
    width: 140px; 
    margin-top: 1rem;
    transform: perspective(6000px) rotateY(10deg);
} */

.card-back h3 {
    margin-bottom: 0.3rem;
}

.card-back h1 {
    margin: 0;
}

/* ---------------------- */
/* .card-back-1 img {
    width: 300px;
    margin-top: 1rem;
    transform: perspective(6000px) rotateY(5deg);
} */

.card-back-1 h3 {
    margin-bottom: 0.3rem;
}

.card-back-1 h1 {
    margin: 0;
}

