*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;  
}

#projetos h2 {
    font-size: 50px;
    text-align: center;
    margin: 30px auto;
}

/* .projetos {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 12px;
    
} */

.tagprojects {
    border-radius: 20px;
    padding: 30px;
    margin: 16px auto;
    display: flex;
    font-size: 20px;
}
