header {
    background: linear-gradient(to right, rgba(3, 65, 135, 0.5), rgba(29, 24, 87, 0.946));
    color: antiquewhite;
}

header nav li a{
    color: aliceblue;
}

.container-higth {
    background-color: rgba(255, 255, 255, 0.965);
}

.display-higth {
    color: #fff;
}

footer {
    background-color: rgb(5, 71, 122);
    color: antiquewhite;
}


form button:hover {
    background-color: #3c6ca7;
}

footer li, a{
    color: #fff;
}

.historia {
    color: #c3c8c9;
    background: linear-gradient(to right, rgba(3, 65, 135, 0.5), rgba(14, 77, 33, 0.946));
}

.historia h1 {
    color: #c3c8c9;
}

.container h2 {
    color: #f8f8f8;
}

.missao {
    color: #fff;
    background: linear-gradient(to right, rgba(3, 65, 135, 0.5), rgba(14, 77, 33, 0.946));
}

.missao h1 {
    color: #c3c8c9;
}

.tagprojects {
    background:linear-gradient(to left, #0b94c7, #1c6833,#05e6ea);
    color: aliceblue;
}

.projetos h1 {
    color: #a6dee5;
}

.card-front-1 h3 {
    color: #a6dee5;
}