header {
    background: linear-gradient(to right, rgba(3, 65, 135, 0.5), rgba(29, 24, 87, 0.946));
    color: antiquewhite;
}

header nav li a{
    color: aliceblue;
}

.container-higth {
    background-color: rgba(255, 255, 255, 0.965);
}


footer {
    background-color: rgb(5, 71, 122);
    color: antiquewhite;
}


form button:hover {
    background-color: #3c6ca7;
}


.historia {
    color: #c3c8c9;
    background: linear-gradient(to right, rgba(3, 65, 135, 0.5), rgba(14, 77, 33, 0.946));
}

.display-higth,
.footer li, a,
.container h2,
.historia h1,
.historia ul,
.missao h1,
.social-links h3,
.bloco-name,
.title {
    color: #fff;
}


.missao {
    color: #fff;
    background: linear-gradient(to right, rgba(3, 65, 135, 0.5), rgba(14, 77, 33, 0.946));
}



.tagprojects {
    background:linear-gradient(to left, #0b94c7, #1c6833,#05e6ea);
    color: aliceblue;
}

.projetos h1,
.card-front-1 h3 {
    color: #97c9d0;
}

/*------------- Pagina Minhas habidades-------------*/

.contato ul h1,
.habilidade ul h1 {
    color: #ea8305;
}

.contato ul p,
.habilidade ul p {
    color: #91b4bb;
}

.contato ul h2,
.contato ul h3,
.habilidade ul h2 {
    color: #14bbe0;
    
}

